* {
  scroll-behavior: smooth;
  transition: background 1s, background-color 1s, color 1s; /* transition THEME MODE */
}

.waving-hand {
  transform: rotate(-45deg);
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.beam-icon { position: relative; }
.beam-icon span {
  border-radius: 50%;
}
.beam-icon span:nth-child(1) {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #4fe844;
}
.beam-icon span:nth-child(2) {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4fe844;
  opacity: 0.4;
  animation: Beam 1s ease-in-out infinite;
}

.click-animated {
  transition: 300ms ease-out transform;
}
.click-animated:active {
  transform: scale(.8);
}

@keyframes wave-animation {
  0% {
    transform: rotate(-45deg);
  }
  15% {
    transform: rotate(-31deg);
  }
  30% {
    transform: rotate(-53deg);
  }
  40% {
    transform: rotate(-31deg);
  }
  50% {
    transform: rotate(-49deg);
  }
  60% {
    transform: rotate(-35deg);
  }
  70% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes Beam {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  0% {
    width: 0px;
    height: 0px;
  }
}